<div style="min-height: 100vh;" class="sidebar bg-nav text-light text-center p-2 d-flex flex-column gap-3 align-items-start ps-5">

    <h1 class="border p-3 mt-2 mb-5">
        <i class="fa-solid fa-pizza-slice fa-rotate-270 text-light "></i> Cookpedia Admin</h1>

        <a routerLink="/admin" class="fw-bold fs-5" > <i class="fa-solid fa-chart-simple "></i>&nbsp;Dashboard</a>
        <a routerLink="/admin/recipe-list" class="fw-bold fs-5" > <i class="fa-solid fa-rectangle-list"></i>&nbsp;Recipe List</a>
        <a routerLink="/admin/user-list" class="fw-bold fs-5" > <i class="fa-solid fa-users"></i>&nbsp;Users List</a>
        <a routerLink="/admin/download-list" class="fw-bold fs-5" > <i class="fa-solid fa-download"></i>&nbsp;Download List</a>
        <a routerLink="/admin/request-list" class="fw-bold fs-5" > <i class="fa-solid fa-envelope"></i>&nbsp;Request List</a>

</div>