<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-6 d-flex   justify-content-center bg-nav">

            <img style="width: 80%;" src="https://media-hosting.imagekit.io//b738cb7b669f468c/incrediets.png?Expires=1834544158&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=r-CU-TMC9i-4RbAo4OcxK~OxUmK3hDssHDYlQAnEbTx3Rw3YYveOvewiF4XuQn0gR-17q0p1q5XNPmRjJ4ApDf4T5CuRothMEb4ugj71Q7JYGr4ocJc8X99xFKZ2EOTFozI1ok5jbO7yMDtuMKdOSLNzabV~je5Ds6-QW1mIVTEnp52lMh~KIrUVQ8jnPzg~ls9A14wqKkFmGvpt9mE9aYUbblLLTfD~8zArLXf~ta0bcc9i~P~Eunie8Mipdc5RoL1lwXI3Tf04ikzYF-5Ly5Cq8ZUoqMS5q8G8AXbF54GQ7kk6iaPttIN1WKfmghl~Ijd6~LuD-vxUAeGvV60pxw__" alt="">

        </div>
        <div class="text-light col-md-6 d-flex flex-column  justify-content-center bg-nav">
            <h2>Welcome to Cookpedia</h2>
            <p>Discover 100+ recipes in you hand with the best recipe</p>
            <p>Help you find the easiest way tocook.</p>
        </div>
    </div>
    <div class="row mt-5 pt-4">
        <div class="col-md-6 text-dark px-5 pb-5">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id quasi facere vero libero placeat modi velit fugit perspiciatis natus quas voluptatem, cum eligendi, quos doloremque deserunt laborum. Veniam, nisi.</p>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Doloribus id quasi facere vero libero placeat modi velit fugit perspiciatis natus quas voluptatem.</li>
                <li>cum eligendi, quos doloremque deserunt laborum. Veniam, nisi.</li>
            </ul>
            <button class="btn bg-grn text-light">Know more about us</button>
        </div>
        <div class="col-md-6">
            <img class="w-100" src="https://media-hosting.imagekit.io//7885e78fef8b4212/young-pleased-caucasian-cook-girl-chef-uniform-crosses-arms-isolated-orange-wall-with-copy-space_141793-33366-removebg-preview.png?Expires=1834545095&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=A08L5tNTEfBVTYYWLIEAxuHgo0ILmu4UkGBHqWegGPnSEtwMd0rMpU6COxxMNbumxA4gxVH8Fiy5KXeronGQDNC6By8NkV5z7V-P3sCu67orO8wtaDDkt6Xx-92FfhTo10Ut46U2ihJCbaSon2tg5d2PRufrock~pqB6KNpyqFwVfUo9xNenswMFXAo-g3KKrx16s~k3NxBwAhYJ~lReHS25u0oxXm7TCXNfKB50Wub6YMVsTEaaXm-ocpS4-ZsUPC7RPGUujI5tanYp0XWkK4uTPvydBqHr50Nvy-4ZNld8vJUauqeB7l7FZ1NHQe2ie2fgT4BmPhpDRuSeOlYZKg__" alt="">
        </div>
    </div>
</div>
<app-footer></app-footer>
