<app-header></app-header>
<div class="container p-0">
    <div class="d-flex justify-content-center fs-3 fw-bold text-light py-5 bg-nav">
        Your recipe collections
    </div>
    @if (savedRecipe.length>0) {
        <div class="my-5">
          
           <div class="row ">
                @for (recipe of savedRecipe; track $index) {
                    <div  class="col-md-3 col-sm-4 align-items-center justify-content-center d-flex flex-column ">
                        <img routerLink='/view/recipe/{{recipe.recipeId}}' class="pb-3 img-fluid" style="width: 250px;" [src]='recipe.image' alt="">
        
                        <div class="d-flex justify-content-between align-items-center">
                            <h6>{{recipe.name}}</h6>
                            <button class="btn" (click)="removeRecipe(recipe._id)"><i class="fa-solid fa-trash text-danger"></i></button>
                        </div>
                    </div>
                }
           </div>
        </div>
    }
    @else {
        <div class="text-center " style="height: 80vh;">
            No recipes saved yet
        </div>
    }
   
</div>
<app-footer></app-footer>