<div class="row  w-100 ">
    <div class="col-lg-4">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-8  ">
        <div class="container my-5">
          <h2 class="text-grn ">Requests</h2>
        </div>
        <div class="mt-5 w-100 table-responsible">
            <table class="table">
              <thead>
                  <tr >
                      <th>Sl.no</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Message</th>
                      <th>Status</th>


                  </tr>
              </thead>
              <tbody>
                  @for (item of allTestimonias; track $index) {
                      <tr>
                          <td>{{$index+1}}</td>
                          <td>{{item.name}}</td>
                          <td>{{item.email}}</td>
                          <td>{{item.message}}</td>
                          <td>
                           @if (item.status=="pending") {
                           <div class="d-flex gap-2">
                                <button class="btn btn-success" (click)="editTestimonialStatus(item._id,'Approved')" ><i class="fa-solid fa-check"></i></button>
                                <button class="btn btn-danger"  (click)="editTestimonialStatus(item._id,'Rejected')" ><i class="fa-solid fa-x"></i></button>
                           </div>
                           }
                           @else if (item.status=="Approved") {
                            <button class="btn btn-success">Approved</button>
                           }
                           @else if(item.status=="Rejected") {
                            <button class="btn btn-danger">Rejected</button>

                           }
                          

                          </td>

  
  
                      </tr>
                  }
              </tbody>
            </table>
          </div>
        </div>
</div>