<app-header></app-header>

<div class="container conatiner-fluid my-5">
    <div class="row">
        <div class="col-md-3 " >
            <h3>Filter</h3>
            <button class="btn" (click)="getAllRecipes()">All</button>
            <br>
            <!-- cuisine type -->
            <button class="btn dropdown-toggle " type="button" data-bs-toggle="collapse"
                data-bs-target="#cuisineCollapse" aria-expanded="false" aria-controls="cuisineCollapse">
                Cuisine
            </button>
            <div class="collapse" id="cuisineCollapse">
                <div class=" ">
                    @for (cuisine of cuisineArray; track $index) {
                    <button class=" color-light  btn " (click)="filterRecipes('cuisine',cuisine)">{{cuisine}}</button>

                    }

                </div>
            </div>
            <br>
            <!-- meal type  -->
            <button class="btn dropdown-toggle " type="button" data-bs-toggle="collapse" data-bs-target="#mealCollapse"
                aria-expanded="false" aria-controls="collapseExample">
                Meal Type
            </button>
            <div class="collapse" id="mealCollapse">
                <div class="">
                    @for (meal of mealTypeArray; track $index)
                    {<button (click)="filterRecipes('mealType',meal)" class=" color-light btn">{{meal}}</button>}

                </div>
            </div>
        </div>
        <div class="col-md-9">

            <div class="d-flex justify-content-between">
                <h3>All recipes</h3>
                <input [(ngModel)]="searchKey" type="text" placeholder="Search a recipe here" class="form-control w-50"
                    name="" id="">
            </div>
            <div class="row py-5">

                @for (recipe of allRecipes|search:searchKey |paginate:{itemsPerPage : 6, currentPage: p}; track $index)
                {
                <div class="col-md-4 col-sm-6 align-items-center justify-content-center d-flex flex-column ">
                    <img (click)="viewRecipe(recipe._id)" class="pb-3 img-fluid" style="width: 250px;" [src]='recipe.image' alt="">

                    <h5>{{recipe.name}}</h5>
                </div>
                }
                @if((allRecipes |search :searchKey).length==0){
                    <h4 class="text-center">No recipe found</h4>
                }





                <div class="text-center my-5">
                    @if((allRecipes |search :searchKey).length!==0){
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    }
                    
                </div>
            </div>

        </div>

    </div>
</div>

<app-footer></app-footer>